<div id="home-text">
	<%= raw render_home_page %>
</div>

<% content_for :sidebar do %>
	<%= image_tag "sidebar/discover-our-lines.png"%>
	<%= image_tag "sidebar/follow-us.png"%>
	<%= image_tag "sidebar/make-a-difference.png"%>
<% end %>

<% content_for :footer do %>
	<div id="sub-article">
		<h2>One Woman's Story</h2>
		<p>
			Praesent pulvinar, lacus id <%= link_to "tempus ultricies", root_path %>, ligula turpis ornare massa, in sollicitudin dui ante ut erat. Morbi risus libero, imperdiet sit amet euismod ut, aliquet eu elit. Nam sem velit, porta euismod dictum rutrum, commodo eget nulla. Vestibulum a massa egestas augue convallis elementum in eu magna. Etiam nisi nunc, luctus quis tincidunt et, tempus id mauris. In fermentum viverra ligula ac lacinia. Nullam vulputate sodales lorem, id facilisis elit posuere non. Suspendisse potenti. Aenean non lacus et mauris placerat tempus. Quisque ipsum elit, suscipit ac tincidunt eget, adipiscing sed dolor. Phasellus tristique velit id enim semper vel mollis ipsum rutrum. Suspendisse feugiat enim eget quam hendrerit iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam ut magna vitae velit lobortis auctor. Vestibulum aliquet nisl eget sem varius sed faucibus elit semper. Etiam sed elit mauris, quis pulvinar tortor. Vestibulum convallis condimentum elit, vel vestibulum massa eleifend quis. Donec libero nulla, luctus at molestie nec, pellentesque quis dui. Phasellus elementum, arcu in commodo suscipit, nulla neque cursus risus, nec placerat tortor est vel libero. Praesent dictum porta mauris, vitae blandit leo eleifend eget.
		</p>
		<%= link_to "Read More", root_url, class: "button"%>
	</div>
<% end %>