<div id="footer">
	<div class="centered-div">
		<% if content_for?(:footer) %>
			<div class="left">
				<%= hook :footer do %>
					<%= yield :footer %>
				<% end %>
			</div>
		<% end %>
		
		<div id="quick-links" class="right">
			<h2>Quick Links</h2>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Shop", products_path %></li>
				<li><%= link_to "Contact Us", contact_path %></li>
			</ul>
			<span class="copyright">&copy; <%= Date.today.year %> Henna for Hope.  All rights reserved</span>
		</div>
		<div class="clear"></div>
	</div>
</div>   
<%= render 'shared/google_analytics' %>
<script type="text/javascript">
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/bZQ0nn882E54gBoVzzqqzg.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>