<%= render :partial => 'admin/shared/configuration_menu' %>

<% page_title( t("editing_mail_method") )%>
<%= render 'shared/error_messages', :target => @mail_method %>

<%= form_for(:mail_method, :url => object_url, :html => { :method => :put }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="form-buttons"><%= button t("update") %></p>
<% end %>