<% page_title("Henna Postcards and More")%>
<%= render :partial => 'shared/header'%>
	
	<div id="landing-banners">
		<div>
			<%= link_to(image_tag("banners/behind-the-veil.png"), products_path) %>
		</div>
		<div>
			<%= link_to(image_tag("banners/behind-the-veil.png"), products_path) %>
		</div>
		<div>
			<%= link_to(image_tag("banners/behind-the-veil.png"), products_path) %>
		</div>
	</div>
	
	<div id="main">
		<div id="content">
			<%= render :partial => 'shared/flashes'%>
		
			<%= yield %>
		</div>
		<% if content_for?(:sidebar) %>
			<div id="sidebar">
				<%= hook :sidebar do %>
					<%= yield :sidebar %>
				<% end %>
			</div>
		<% end %>
		<div class="clear"></div>
	</div>
	
	<%= render :partial => 'shared/footer'%>
</body>
</html>